<h1>@ViewData["Title"]</h1>
<body style="background-color:snow; text-align:center;">
    <header>



     <h1>Know About Us </h1>
    </header>
    <hr>
    <footer>
        <p>
            Established as Houston Junior College in 1927, the University of Houston (abbreviated as UH) is a public institution 
            of research-centric higher education. It transformed into a university in 1934 and became a state institution in 1963. 
            In 1977, it joined the newly incorporated University of Houston System. The Carnegie Foundation has elevated the university to the Tier One status. 
            It has affiliations from the Association of Public and Land-grant Universities, Oak Ridge Associated Universities and Universities Research Association.
            <br>
            <a href="MailTo:University@Houston.com">University@Houston.com</a>
        </p>
    </footer>
</body>